@media screen {
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    #date {
        font: gray;
        font-size: smaller;
    }

    #byline {
        font-weight: bold;
    }

    #lead {
        width: 100%;
    }

    #headshot {
        width: 30px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }
}
