/*Colors
 * Green = #455011
*/

/*Fonts
  font-family: "Spectral", serif;
  font-family: "Sorts Mill Goudy", serif;
*/

@media screen {
    img, video {
        width: 100%;
    }

    h1 {
        font-family: "Spectral", serif;
        margin: 20px 10% 0px 20px;
        background-color: rgba(69, 80, 17, 0.5);
        padding: 20px;
    }

    h2 {
        font-family: "Sorts Mill Goudy", serif;
        color: aqua;
        margin: 20px 50% 0px 20px;
    }
    
    h3 {
        background-color:black;
        color:white;
        text-align:center;
        margin:0px;
    }

    #topper1 {
        background-color: #455011;
    }

    #topper3 {
        background-image: url(20CLI-50x50-alabama-02-ljph-superJumbo.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .fullwidth {
        padding: 0px;
    }

    #imgcol {
        background-image: url(20CLI-50x50-alabama-01-ljph-superJumbo.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    p {
        width: 100%;
        margin: auto;
    }

    .chart {
        width: 100%;
        margin: auto;
        border: 3px solid black;
    }

    #content {
        background-color: antiquewhite;
    }

    .disclaimer {
        font-style: italic;
    }

    .caption {
        font-size: 12px;
    }

    .pullquote {
        background-color: #e7d5c8;
        /*border-radius: 25px;*/
        border-left: 10px solid #455011;
        width: 50%;
        float: right;
    }

    .quote, .attribution {
        width: 100%;
        margin: auto;
        padding: 20px;
    }

    .quotemark {
        font-size: 170px;
        float: left;
        line-height: 0em;
        padding: 80px 2px 30px 0px;
        font-family: "Sorts Mill Goudy", serif;
    }
    
    #toptext {
    position: absolute;
    top: 7%;
    display: block;
    }
}

@media (min-width: 576px) {
    p {
        width: 60%;
        margin: auto;
    }

    .chart {
        width: 60%;
        margin: auto;
    }

    .pullquote {
        width: 60%;
        margin: auto;
    }

    .caption {
        width: 100%;
        color: gray;
        font-size: smaller;
    }

    h1 {
        margin: 20px 50% 0px 20px;
    }
}
