body {
    font-family: Georgia, serif;
}

#article {
    width: 70%;
    margin: auto;
}

h1 {
    font-size: 50px;
}

#date {
    color: gray;
    font-size: 12px;
}

#byline {
    font-weight: 600;
}

img {
    width: 100%;
}

@media screen {
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    #date {
        color: gray;
        font-size: 12px;
    }

    #byline {
        font-weight: 600;
    }

    img {
        width: 100%;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }
}
