/*
MY COLOR PALETTE
Garnet - #780000
Red - #A51212
OffWhite - #f9f9f3
Navy - #00283D
PowderBlue - #9CC0D3
*/

img {
    width: 45%;
    border: solid;
    border-color: #780000;
    border-width: thick;
    border-radius: 40px;
    margin-bottom: 30px;
}

body {
    background-color: #f9f9f3;
    font-family: "Source Sans 3";
}

h1 {
    margin-top: 50px;
    font-family: "Playfair Display";
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #00283d;
    font-size: 75px;
}

h2 {
    font-family: "Source Sans 3";
    color: #9cc0d3;
    font-size: 50px;
    text-align: center;
    background-color: #00283d;
    padding: 20px;
    border-radius: 40px;
}
button {
    background-color: #780000;
    color: white;
    font-family: "Source Sans 3";
    text-transform: uppercase;
    font-weight: 600;
    width: 100px;
    padding: 10px;
    margin: 30px;
    border: none;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    top: 210px;
    left: 250px;
}

button:hover {
    background-color: #9cc0d3;
}

h3 {
    font-family: "Playfair Display";
    color: #00283d;
    background-color: #9cc0d3;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

h4 {
    font-family: "Playfair Display";
    color: #780000;
    text-align: center;
    font-size: 450%;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 10px;
}

#navigation {
    background-color: #9cc0d3;
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 15px;
}

.jobtitle {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    text-decoration: underline;
}
.job {
    font-size: 25px;
    margin-left: 20px;
    font-weight: 700;
}

.descriptions {
    background-color: #9cc0d3;
    padding: 22px;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 30px;
}

.listleft {
    margin-left: 100px;
}

.listright {
    margin-left: 600px;
}

#education {
    background-color: #9cc0d3;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 70px;
}
.degree {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.college {
    font-size: 25px;
    font-weight: 700;
}

.year {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}