@media screen{
h1{
    font-family: font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 35px
}

h2{
    font-family:  font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-size: 20px
}

img{
    width: 100%;
 
}

button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 12px 5px 12px;
    border-radius: 4px
    }

}

@media (min-width:576px){
    h1{
        font-size: 50px
    }
    
    img{
        width: 400px
    }
}