@media screen {
}
body {
    font-family: georgia, serif;
}
#article {
    width: 70%;
    margin: auto;
}
h1 {
    font-size: 50px;
}
#headshot {
    width: 30px;
    float: left
}
#date {
    color: gray;
    font-size: 13px;
}
#byline {
    font-weight: bold;
}

img {
    width: 100%;
}

@media (min-width: 576px) {
}
h1 {
    font-size: 80px;
    min-width: 576px;
}
