h1 {
    font-family: "BBH Sans Hegarty", sans-serif;
}

p {
    font-family: "Radley", serif;
    background-color: rgb(0, 0, 0, .5);
}

img {
    width: 300px;
    /*    float:left;*/
}

#footer {
    background-color: green;
    font-family: "Radley", serif;
    color: white;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    padding-left:10px;
}

#signup {
    background-color: blue;
    font-family: "Radley", serif;
    color: white;
    position:sticky;
    top:0px;
    width:100%;
    padding-left:10px;
}

.highlight {
    background-color:yellow;
}
