@media screen {
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    #date {
        font-size: 10px;
        color: gray;
    }

    #byline {
        font-weight: bold;
    }

    #lead {
        width: 100%;
    }
    
    #extracred{
        width: 30px;
        float: left;
    }
}


@media (min-width: 576px) {

    h1 {
    font-size: 80px;
    }
        
}