@media screen {
    body {
        font-family: Georgia, serif;
    }
    #article {
        width: 70%;
        margin: auto;
    }
    h1 {
        font-size: 50px;
    }
    #date {
        color: grey;
        font-size: 11px;
    }
    #byline {
        font-weight: 1000;
    }
    img {
        width: 100%;
    }
    #extra {
        width: 30px;
        float: left;
        margin-right: 5px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }
}