@media screen {
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    #date {
        color: gray;
        font-size: 13px;
    }

    #byline {
        font-weight: 700;
        padding-top: 17px;
    }

    img {
        width: 100%;
    }

    #headshot {
        width: 30px;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
        margin-bottom: 20px;
    }
}
