@media screen {
    body {
        font-family: Georgia, serif;
    }
    #article {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }
    #Date {
        color: gray;
        font-size: 10px;
    }
    #byline {
        font-weight: bold;
    }
    #headshot {
        width: 30px;
        margin-left: auto;
    }
    #lead {
        width: 100%;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }
}
