/*
MY COLOR PALETTE
Pink - #ac80a0
Black - #061826
Dark Blue - #0471a6 
*/

@media screen {
    img {
        width: 100%;
        border: 10px solid black;
    }

    #topper {
        background-color: #ac80a0;
    }

    #navigation {
        background-color: #0471a6;
    }

    .navitem {
        font-size: 30px;
    }

    button {
        padding: 10px 30px 10px 30px;
        display: block;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 576px) {
    img {
        width: 50%;
    }
}

@media (min-width: 768px) {
    img {
        width: 70%;
        display: none;
    }
}
