@media screen {
    @media (min-width: 576px) {
        h1 {
            font-size: 80x;
        }
    }
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }
    h1 {
        font-size: 50px;
    }

    #date {
        color: gray;
        font-size: 10px;
    }

    #byline {
        font-weight: bold;
    }

    img {
        width: 100%;
    }
    #Woman {
        width: 30px;
        float: left;
    }
}
