@media screen {
    body {
        font-family: Georgia, serif;
    }

    #article {
        width: 70%;
        margin: auto;
    }

    #headline {
        font-size: 50px;
    }

    #date {
        color: gray;
        font-size: smaller;
    }

    #byline {
        font-weight: bold;
    }

    #lead {
        width: 100%;
    }
    #headshot{
        width:30px;
        float:left;
    }
}

@media (min-width: 576px) {
    #headline {
        font-size: 80px;
    }
}
